

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    /* font-size: 62.5%; */
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    
  }
  
  body {
    /* font-family: 'Lora', serif; */
    /* background-color: #1a1a1a; */
    /* background-color: #000; */
    font-family: "Poppins", sans-serif;
  }
  
  
  .leftpart{
    display: flex;
    flex-direction: column;
    /* width: 70vw; */
    /* height: 35vh; */
    margin: 0 auto;
    flex-shrink: inherit;
    flex-wrap: wrap;
  }
  button{
    width: 190px;
    height: 40px;
    color: white;
    background-color: #000;
    transition: all 0.4s ease-in-out;
    border-radius: 8px;
    border: 0;
    margin: 0.2rem;
  }
  button:hover {
    background: #333;
    cursor: pointer;
  }
  .whole{
    display: flex;
    width: 70vw;
    margin: 2rem auto;
    gap: 10px;
    /* flex-wrap: wrap; */
    padding: 0;
  }

  img{
    width:500px; 
    max-width: 70vw;
  }


  @media only screen and (max-width: 1100px) {
    .whole {
      flex-direction:column-reverse;
      text-align: center;
      width: 80vw;
    }
    img{
      width:80vw; 
      max-width: 80vw;

    }
  }





























































  
  
  
  .blog{
    /* background-color: rgb(198, 198, 198); */
    color:#eeecec;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
  }
  .content h1{
    text-align: center;
    margin: 2rem auto;
    font-size: 3rem;
  
  }
  .content p {
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  .content{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    width: 70%;
  }
  .map{
  
    margin: 2rem auto;
    
  }
  .content img{
  
    /* max-height: 85vh; */
    margin: 2rem auto;
    width: 100%;
  }
  .blog header{
    background-color: #000;
  }
  
  #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
  }
  #return-to-top:hover i {
    color: #fff;
    top: 5px;
  }
  
  
  
  
  
  
  
  
  
  .main:hover {
    cursor: pointer;
  }
  
  
  li {
    list-style: none;
    padding-right: 2rem;
  }
  
  a {
    text-decoration: none;
  }
  
  
  
  /* Two different home images*/
  .second {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .first {
      display: none;
    }
    .second {
      display: flex;
      justify-content: center;
      max-width: 80vw;
      margin: 0 auto;
    }
  }
  
  
  
  /* NAV BAR */
  .header {
    border-bottom: 0.5px solid #e2e8f0;
    
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
  
  }
  
  #logo {
    display: block;
    width: 100px;
  }
  
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #eeecec;

  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 5rem;
  }
  
  .nav-link {
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;

  }
  
  /* .nav-link:hover {
    color: #e25f63;
  } */
  
  .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #000000;
    padding-left: 0.3rem;
  }
  
  
  /*GALLERY*/
  
  
  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 4px 8px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  .row img:hover {
    cursor: pointer;
  }
  
  #fullImageView {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    z-index: 2000;
  }
  
  #fullImage {
    padding: 24px;
    max-width: 98%;
    max-height: 98%;
  }
  
  #closeButton {
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;
  }
  
  .basic-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    object-fit: cover;
    margin: 1rem auto;
    margin-top: 3rem;
    width: 63vw;
    
  }
  
  .basic-grid p {
    position: absolute;
    margin: -4rem auto;
    margin-left: 2rem;
    filter: brightness(90%);
    padding: 0.5rem;
    border-radius: 3px;
  
  }
  .basic-grid a {
    position: relative;
  }
  
  .basic-grid img:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: opacity(80%);
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
  }
  
  .basic-grid img {
    border-radius: 3px;
    display: block;
  }
  .basic-grid a:hover {
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  
  
  /* ABOUT*/
  
  #abt{
  color: white; 
  text-align:center; 
  margin: 4rem auto; 
  font-weight: bold; 
  font-size: 2.5rem;
  filter: brightness(90%);
  z-index: -1;
  position: relative;
  }
  
  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 3rem;
    gap: 2rem;
  }
  
  article p {
    color: white;
    font-size: 1.5rem;
    width: 300px;
    margin-top: 1rem;
    font-weight: 100;
    line-height: 2.2rem;
  }
  
  
  
  /*CONTACT*/
  
  #contact p,
  h2 {
    color: #eeecec;
    font-size: 2rem;
    width: 70vw;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  #contact .col-md-4 {
    padding-left: 0px;
  }
  
  #contact .col-md-12 {
    padding-left: 0;
  }
  
  #contact form {
    padding-top: 32px;
  }
  
  #contact .form-control {
    border: 2px solid #eeecec;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
    border-radius: 0.25rem;
  }
  
  #contact .form-control:hover {
    border-color: #555;
  }
  
  #contact input,
  #message {
    height: 50px;
    width: 70vw;
    display: block;
    margin: auto;
    background-color: #eeecec;
  }
  #message {
    height: 100px;
  }
  
  #contact input[type="submit"] {
    background: #e25f63;
    border-radius: 100px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
    width: 300px;
    display: block;
    margin: auto;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  #contact input[type="submit"]:hover {
    background: #333;
  }
  #contact {
    display: flex;
    justify-content: center;
  }
  
  /*FOOTER*/
  
  .flexfooter {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: o auto;
  }
  .flexfooter img {
    max-height: 20px;
    filter: brightness(90%);
  }
  .flexfooter img:hover {
    transform: scale(1.1);
  }
  
  footer {
 
    padding: 20px 0px;
    padding-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    letter-spacing: 1px;
    line-height: 2.5rem;
  }
  
  .copyrght {
    font-size: 1.4rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-top: 0.1rem;
    padding: 0;
    color: #000000;
  }
  
  /* MEDIA*/
  
  @media only screen and (max-width: 1100px) {
    #closeButton {
      top: 1.5rem;
      right: 1rem;
    }
  
  }
  
  @media only screen and (max-width: 1000px) {
    .basic-grid {
      display: grid;
      gap: 1rem;
      grid-template: 1fr / 1fr;
      object-fit: cover;
      width: 80vw;
    }
  }
  
  
  @media screen and (max-width: 1000px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  
  /*HAMBURGER*/
  
  @media only screen and (max-width: 768px) {
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 6rem;
      flex-direction: column;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      background-color: #000000;
      z-index: 1000;
    }
    #logo {
      display: block;
      width: 100px;
      margin-left: 2rem;
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .nav-item {
      margin: 2.5rem 0;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
      margin-right: 2rem;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
  
  
  
  
  /* END */
  
  
  
  
  
  
  /* #view {
    background-color: none;
    border: none;
    transition: all 0.4s ease-in-out;
    width: 100px;
    height: 30px;
    display: block;
    margin: auto;
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  #more {
    color: #000;
    font-size: 1.7rem;
    font-weight: 100;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    position: absolute;
    top: 110px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    margin: 0 40vw;
    border: 1px solid black;
  }
  #more:hover {
    color: white;
    border: 1px solid white;
  } */
  
  